{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/doctor_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary" style="margin-left:2%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">LISTE DES PATIENTS</h6>
      </div>
      <table class="table table-hover table-striped" id="dev-table">
        <thead class="thead-dark">
          <tr>
            <th>Photo patient</th>
            <th>Nom patient</th>
            <th>Genre</th>
            <th>Date naissance</th>
            <th>Contact</th>
            <th>trauma</th>
            <th>Admission</th>
            <th>Groupe sanguin</th>
          </tr>
        </thead>
        {% for p in patients %}
        <tr>
          <td> <img src= load {% static 'p.profile' %}  alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{p.prenom}} {{p.Nom}}</td>
          <td>{{p.sexe}}</td>
          <td>{{p.naissance}}</td>
          <td>{{p.telephone}}</td>
          <td>{{p.symptoms}}</td>
          <td>{{p.admission}}</td>
          <td>{{p.groupe_sanguin}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}
