{% extends 'layout/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Bonjour, Docteur</h1>
  <p class="lead">Bienvenue dans Patient Monitoring System.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">S'inscrire</a>
    <a class="btn btn-success btn-lg" href="/doctorlogin" role="button">S'identifier</a>
  </p>
</div>

{% endblock content %}
