{% extends 'layout/template.html' %}
{% block content %}
{% load static %}
<div class="sidebar" style="background:#337AB0";>
  <div class="text-center mb-3">
      <img src= {% static docteur.profile.url %} alt='profile docteur' class="rounded-circle" height="160px" width="160px" >
      <p class="mt-3 text-light bg-dark">Dr {{ docteur.prenom }} {{ docteur.nom }}</p>
  </div>
  <a href="dashboard" class="text-white">
      <i class="fas fa-home"></i>
      Accueil
  </a>
  <a href="patients" class="text-white">
      <i class="fas fa-user-injured"></i>
      Patients
  </a>
  <a href="agenda" class="text-white">
      <i class="fas fa-calendar-alt"></i>
      Agenda
  </a>
  <a href="dossier_patients" class="text-white">
      <i class="fas fa-clipboard-list"></i>
      Dossiers
  </a>
  <a href="prescription" class="text-white">
      <i class="fas fa-prescription-bottle-alt"></i>
      Ordonnances
  </a>
</div>
     <div class="main-content">
      <div class="card mb-3 my-5 overflow-auto shadow">
        <div class="card-header"><span class="badge badge-info">LISTE DE VOS PATIENTS({{ nb_patient }}) </span></div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Profile</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date Naissance</th>
                <th>Telephone</th>
                <th>Date Admission</th>
              </tr>
            </thead>
            <tbody>
              {% for patient in patients %}
              <tr>
                <td> <img src<img src= {% static patient.profile.url %} alt='profile patient' class="rounded-circle" height="80px" width="80px" > 
                  <td>{{ patient.prenom}}</td>
                  <td>{{ patient.nom }}</td>
                  <td>{{ patient.naissance }}</td>
                  <td>{{ patient.telephone }}</td>
                  <td>{{ patient.admission }}</td>
              </tr>
          {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card mb-3 overflow-auto shadow">
        <div class="card-header"><span class="badge badge-success"> DONNEES MEDICALES DE BASE </span></div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Groupe Sanguin</th>
                <th>Symptome</th>
                <th>Admission</th>
              </tr>
            </thead>
            <tbody>
              {% for patient in patients %}
              <tr>
                  <td>{{ patient.prenom}} {{ patient.nom}}</td>
                  {% if patient.sexe == "M" %}
                      <td class="ml-3 badge text-dark btn-primary">H</td>
                  {% else %}
                      <td class=" ml-3 badge text-dark btn-danger">F</td>
                  {% endif %}
                  <td><span class=' ml-5 text-danger'>{{ patient.groupe_sanguin }}</span></td>
                  <td>{{ patient.symptoms }}</td>
                  <td>{{ patient.admission }}</td>
              </tr>
          {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="bg-light"></div> 
{% endblock  %} 
