{% extends 'layout/template.html' %}
{% block content %}
{% load static %}
<div class="sidebar" style="background:#337AB0";>
  <div class="text-center mb-3">
      <img src= {% static docteur.profile.url %} alt='profile docteur' class="rounded-circle" height="160px" width="160px" >
      <p class="mt-3 text-light bg-dark">Dr {{ docteur.prenom }} {{ docteur.nom }}</p>
  </div>
  <a href="dashboard" class="text-white">
      <i class="fas fa-home"></i>
      Accueil
  </a>
  <a href="patients" class="text-white">
      <i class="fas fa-user-injured"></i>
      Patients
  </a>
  <a href="agenda" class="text-white">
      <i class="fas fa-calendar-alt"></i>
      Agenda
  </a>
  <a href="dossier_patients" class="text-white">
      <i class="fas fa-clipboard-list"></i>
      Dossiers
  </a>
  <a href="prescription" class="text-white">
      <i class="fas fa-prescription-bottle-alt"></i>
      Ordonnances
  </a>
</div>
     <div class="main-content">
        <div class="mt-5">
            <a class="btn btn-success btn-lg fas fa-prescription-bottle-alt" href='/doctor/add_prescription'> Nouvelle ordonnance</a>
          </div>
        <div class="card mb-3 my-2 overflow-auto shadow">
            <div class="card-header" style:color="red"><span class="badge btn-info">VOS ORDONNANCES ({{ nb_ordonnance }}) </span></div>
                <div class="card-body overflow-auto" style="height: 470px; overflow-y: scroll;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="color: #337AB7;">Patient</th>
                                <th style="color: #337AB7;">Symptome</th>
                                <th style="color: #337AB7;">Dossier medical</th>
                                <th style="color: #337AB7; text-align:center;">Traitement</th>
                                <th style="color: #337AB7;">Date Consultation</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ordonnance in ordonnances %}
                        <tr>
                            <td>{{ ordonnance.dossier_medical.patient }}</td>
                            <td>{{ ordonnance.dossier_medical.patient.symptoms }}</td>
                            <td style="text-align:center;">{{ ordonnance.dossier_medical.numero }}</td>
                            <td style="text-align:center;">{{ ordonnance.contenu |truncatewords:5 }}</td>
                            <td>{{ ordonnance.date|date:"d-m-Y"  }}</td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="bg-light"></div> 
{% endblock  %} 
