
  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    {% comment %} footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
      margin-top:5%;
      z-index: 5;
    } {% endcomment %}

    p {
      text-align: center;

    }
  </style>
</head>

<footer>
  <br>
  <div class="container">
    <div class="row fixed-bottom">
      <div class="col-md-12 col-sm-12 bg-light">
        <div class="wow fadeInUp footer-copyright mt-1">
          <p style="color: #337AB7; text-align:left; font-size:0.95em; padding:auto;">
            {% now "Y" as current_year %}
            Copyright &copy; <em>{{ current_year }}</em> By ARN</p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% comment %} <footer>
	<nav class="navbar fixed-bottom navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> &copy; <em id="date"></em>suptech.ma</a>
		</div>
	</nav>
</footer> {% endcomment %}